[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LxQt;
Type=Application
Exec=lxqt-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-keyboard
Name=LxQt Shortcut Configuration
Comment=Configure global shortcut of LxQt desktop
GenericName=LxQt Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[ru]=конфигурация сокращенных путей Pa3op
Icon[ru]=предпочтениям-рабочий стол-клавиатура
Comment[ru]=Глобальний конфигурация сокращенных путей для рабочий стол Pa3or
GenericName[ru]=Глобальний конфигурация сокращенных путей Pa3op
