# Translations
Name[da]=Konfiguration af LXQt Tastaturgenveje
Comment[da]=Konfigurer globale tastaturgenveje for LXQt-skrivebordet
GenericName[da]=Konfiguration af LXQt Globale Tastaturgenveje
