#Translations
Name[ro]=Configurație acceleratori LXQt
GenericName[ro]=Configurație acceleratori globali LXQt
Comment[ro]=Configurează acceleratorii globali pentru LXQt
