# Translations
Name[es]=Configuración de Atajos de LXQt
Comment[es]=Configure atajos globales del Escritorio de LXQt
GenericName[es]=Configuración de Atajos Globales de LXQt
