# Translations
Name[hu]=LXQt gyorsbillentyűk
Comment[hu]=LXQt általános forróbillentyűinek beállítása
GenericName[hu]=LXQt gyorsbillentyűk beállítása
