[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LxQt;
Type=Application
Exec=lxqt-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-keyboard
Name=LxQt Shortcut Configuration
Comment=Configure global shortcut of LxQt desktop
GenericName=LxQt Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
Icon[el_GR]=preferences-desktop-keyboard
Comment[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
GenericName[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
