#Translations
Name[pl]=Konfiguracja skrótów pulpitu LXQt
GenericName[pl]=Konfiguracja globalnych skrótów pulpitu LXQt
Comment[pl]=Określ globalny skrót pulpitu LXQt
