# Translations
Name[cs_CZ]=Nastavení klávesových zkratek
Comment[cs_CZ]=Nastavit celkové klávesové zkratky pro prostředí LXQt
GenericName[cs_CZ]=Nastavení celkových klávesových zkratek
