[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LxQt;Razor;
Type=Application
Exec=lxqt-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-keyboard
Name=LxQt Shortcut Configuration
Comment=Configure global shortcut of LxQt desktop
GenericName=LxQt Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[zh_TW]=LxQt快捷鍵設定
Comment[zh_TW]=設定LxQt桌面的全域快捷鍵
GenericName[zh_TW]=LxQt全域快捷鍵設定
