[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LxQt;Razor;
Type=Application
Exec=lxqt-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-keyboard
Name=LxQt Shortcut Configuration
Comment=Configure global shortcut of LxQt desktop
GenericName=LxQt Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[ru_RU]=Настройка Сочетание Клавиш LxQt
Comment[ru_RU]=Настроить глобальное сочетание клавиш рабочего стола LxQt
GenericName[ru_RU]=Настройка Глобального Сочетание Клавиш LxQt
