[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LxQt;Razor;
Type=Application
Exec=lxqt-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-keyboard
Name=LxQt Shortcut Configuration
Comment=Configure global shortcut of LxQt desktop
GenericName=LxQt Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[th_TH]=การตั้งค่าปุ่มลัด LxQt
Comment[th_TH]=ตั้งค่าปุ่มลัดหลักของ LxQt เดกส์ท็อป
GenericName[th_TH]=การตั้งค่าปุ่มลัดหลัก LxQt
