[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LxQt;
Type=Application
Exec=lxqt-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-keyboard
Name=LxQt Shortcut Configuration
Comment=Configure global shortcut of LxQt desktop
GenericName=LxQt Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[uk]=Налаштування скорочень LxQt
Icon[uk]=preferences-desktop-keyboard
Comment[uk]=Налаштувати глобальні скорочення стільниці LxQt
GenericName[uk]=Налаштування глобальних скорочень LxQt
