# Translations
Name[el_GR]=Διαμόρφωση συντομεύσεων LxQt
Comment[el_GR]=Διαμόρφωση των καθολικών συντομεύσεων του LxQt
GenericName[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
