# Translations
Name[da_DK]=Konfiguration af LXQt Tastaturgenveje
Comment[da_DK]=Konfigurer globale tastaturgenveje for LXQt-skrivebordet
GenericName[da_DK]=Konfiguration af LXQt Globale Tastaturgenveje
