Name[es]=Atajos de teclado
GenericName[es]=Configuración de los atajos de teclado
Comment[es]=Configurar los atajos de teclado en LXQt


Name=Shortcut Keys
GenericName=Keyboard Shortcut Settings
Comment=Configure shortcut keys in LXQt
