[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LxQt;
Type=Application
Exec=lxqt-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-keyboard
Name=LxQt Shortcut Configuration
Comment=Configure global shortcut of LxQt desktop
GenericName=LxQt Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[ro_RO]=Configurație acceleratori LxQt
Icon[ro_RO]=preferences-desktop-keyboard
Comment[ro_RO]=Configurează acceleratorii globali pentru LxQt
GenericName[ro_RO]=Configurație acceleratori globali LxQt
